:root {
	--color-white: #FFFFFF;
	--color-black: #1F1F1F;
	--color-grey: #59606D;
	--color-grey-light: #959DAD;
	--color-grey-extra-light: #F8F8F8;

	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 30px;

	--border-radius: 3px;
	--box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	--shadow-element: 0px 4px 16px rgba(0, 0, 0, 0.05);
	--shadow-hoverelement: 0px 8px 28px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-grey-light);
	border-radius: 5px;
}
::-webkit-scrollbar-track {
	background-color: var(--color-grey-extra-light);
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family:  "PT Sans", sans-serif;
	line-height: 1.4;
	background-color: var(--color-white);
	
}