.products-container {
	
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: start;
	align-content: flex-start;
	margin: var(--spacing-large) auto;
margin-left: 40px;
}
.products-element {
	padding: 10px;
	height: 272px;
	max-width: 258px;
	box-shadow: var(--shadow-element);
	border-radius: 8px;
	list-style-type: none;
	margin: var(--spacing-small);
	
}
.products-element:hover {
	box-shadow: var(--shadow-hoverelement);
}

.products-element-rowblock {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.products-element__raiting {
	color: #F2C94C;
	padding: 0 5px;
	font-size: 10px;
	display: flex;
	transition: 0.4s;
	margin: 3px 5px;
}
.products-element__raiting:hover {
	transform: scale(1.06);
}

.products-element__img {
	transition: 0.4s;

}

.products-element:hover .products-element__img {
	transform: scale(1.03);
}
.products-element__btn {
	margin: 5px 8px;
	align-self: start;
	border: none;
	background: none;
	padding: var(--spacing-small);
	transition: 0.4s;
	cursor: pointer;
	outline: none;
}
.products-element__btn:hover {
	transform: scale(1.1);
}

.products-element__btn:hover svg path {
	fill: var(--color-black);
}

.products-element-columnblock {
	margin: 16px 0;
}
.products-element__name {
	color: var(--color-grey);
	font-size: 14px;
	padding: 0 15px;
}
.products-element__price {
	font-weight: bold;
	padding: 0 15px;
}